@media only screen and (max-width: 600px) {
    label span{
        display: block ;
    }
    .container-card{
        pointer-events: painted;
    }

    .navbar-end{
        display: none;
    }

    #main, #download{
        width: 100vw;
    }

   #propaganda a{
    display: none;
    position: absolute;
    }
}

@media only screen and (max-width: 400px) {
   .title{
    font-size: 2rem;
   }
    
}

