@media only screen and (max-width: 700px) {
    label span{
        display: block ;
    }
    .container-card{
        pointer-events: painted;
    }
    .navbar-p{
        display: block;
    }

    .navbar-end{
        display: none;
    }
    .navbar{
        height: 10vh;
    }

    #main, #download{
        width: 100vw;
    }

   #propaganda {
     display: none;
    }
    #propaganda2{
        display:block;
        margin: 8px !important;
    }
    .caixa{
        width: 80vw ;
        margin-bottom: 2rem;
        height: 45vh;

    }
    .text{
        font-size: 1.5rem;
    }
    #link{
        width: 65vw;
        font-size: 1.2rem;
    }
    
    .btn{
        width: 45vw;
    
    }
    .btnn{
        width: 40vh;
        margin-top: 5rem;
        margin-right: 0;
    }

    .btn-type{
        flex-direction: column;
        display: flex;
        justify-content: center; 
    }
    .title{
        font-size: 2rem;
    }
    .img-yt{
        width: 20rem;
        height: 10rem;
    }
    iframe {
        height: 18.3rem !important;
    }
    .btn-2{
        width: 3.5rem !important;
        height: 3.5rem;
    }
    .sair{
        font-size: 2rem !important;
    }
 
    #type {
        margin-right: 0;
    }

}

@media only screen and (max-width: 400px) {
   .title{
    font-size: 1rem;
   }
    
}

