@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');



:root{
    --branco: #fff;
    --preto: #000;
    --vermelho-claro: #b9030f;
    --vermelho-medio: #9e0004;
    --vermelho-forte: #70160e;
    --preto-c : #161917;
    --branco-d : #e1e3db;
}

*{
    margin: 0;
    padding: 0;
}

*::selection {
    color: var(--branco-d);
    background-color: var(--vermelho-forte);
}


body{
    background-color: var(--preto-c) ;
    margin-top: 15vh;
    overflow-x: hidden;

}

body::-webkit-scrollbar {
    width: 7px;
  }
  
body::-webkit-scrollbar-thumb {
    background:var(--vermelho-medio);
    border-radius: 15px;
}
  

.navbar{
    font-family: 'Patrick Hand', cursive;
    width: 100%;
    height: 13vh;
    background-color: rgba(255, 255, 255)  ;
    position: fixed;
    top: 0;
    z-index: 102;
}

label{
    z-index: 105;
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    right: 3rem;
    height: 62px;
    width: 50px;
    transition: all 5s;
    transform: translateX();
    }
    
    label span{
    z-index: -11;
    display: none;
    position: absolute;
    height: 10px;
    width: 100%;
    border-radius: 30px;
    background: var(--vermelho-forte);
    transition: 0.25s ease-in-out;
    
    }
    .container-card{
        pointer-events: none;
    }
    label span:nth-child(1){
    top: 0;
    
    }
    
    label span:nth-child(2){
    top: 15px;
    
    }
    
    label span:nth-child(3){
    top: 30px;
    }
    
    #checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
    
    
    }
    
    #checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;
    }
    
    #checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top:8px;
    }
    
    .espaco{
      transition: 1s;
      transform: translateX( 13rem);
     
     }
     #checkbox-menu{
        display: none !important;
     }

     .navbar-p{
        margin-top: -1rem;
        display: none;
        z-index: 101;
        position: fixed;
        background-color: var(--branco);
        width: 100%;
        top: -10rem;
        height: auto;
        flex-direction: column;
        text-align: center;
        transition: all 1s;
        transform: translateY();
        overflow: hidden;
     }
     .active{
        top: 6rem ;
     }
     .link-p{
        margin: 1rem;
        height: 4rem;
     }
     .link-p:hover{
        background-color: var(--branco-d);
     }


a , li , ul{
    list-style-type: none;
    text-decoration: none;
    color: var(--vermelho-forte);
}

.nav-logo{
    font-size: 3rem;
    margin-left: 1.5vw;
    text-shadow: 3px 3px 3px #ababab;
}

.navbar-end{
    position: absolute;
    display: flex;
    right: 10vw;
    font-size: 1.5rem;
    margin: 4rem;
}
.nav-link:hover{
    color: var(--vermelho-claro);
    transition: all 0.3s;

}
.title{
    text-align: center;
    padding-left:1rem ;
    padding-right: 1rem;
    font-size: 3rem;
    color: var(--branco-d);
    margin-top: 1rem;
}
.titlec{
    padding-left:3rem ;
    padding-right: 3rem;
}
.title:hover{
    color: var(--vermelho-medio);
    transition: all 0.5s;
}
.linha{
    border-radius: 3px;
    width: 8rem;
    height: 0.2rem;
    background-color: var(--vermelho-claro);
}
.nome{
    width: auto;
    margin-top: -2rem;
}


#main, #download{
    width: calc(96vw - 13rem);
}

.mp3, .mp4{
    display: none;
}

.caixa{
    background-color: rgba(0, 0, 0, 0.233);
    margin-top: 4.5rem;
    width: 50vw;
    height: 55vh;
    border-radius: 2rem;
}
#link{
    width: 40vw;
    height: 2.5rem;
    padding: 15px;
    border-radius: 10px;
    color: var(--vermelho-claro);
    background-color: var(--branco-d);
    font-size: 2rem;
    margin-top: 0.5rem;
}
.text{
    padding: 1rem;
    font-size: 2rem;
    color: var(--branco-d);
}

.btn{
    margin-top: 4.5rem;
    width: 20vw;
    height: 10vh;
    border-radius: 20px;
    color: var(--branco);
    background-color: var(--vermelho-forte);
    border: none;
    font-size: 1.5rem;
}
.btn-2 {
    position: absolute;
    display: flex;
    top: 3.5rem;
    margin-left: 1rem;
    width: 13vw !important;
    cursor: pointer;
}
.bot{
    bottom: 3rem !important;
    top: auto;
}
.sair{
    font-size: 3rem !important;
}

#type{
    margin-right: -2rem;
}


.btnn{
    width: 32vw ;
    height: 25vh ;
    background-color: var(--vermelho-claro) ;
    border-radius: 2rem ;
    border: none ;
    margin-right: 2rem ;
    margin-top: 9rem ;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #ababab;
  transform: translateY(-0.3em);
  transition:  0.3s;
}



#propaganda a{
    
    display: flex;
    right: 2vw;
    top: 20vh;
    position: fixed;
    z-index: 100;
    background-color: var(--branco);
    background-image: url(https://static.mservice.io/blogscontents/momo-upload-api-221010113805-638009986852451949.jpg);
    background-size: 25rem;
    background-position-x: center;
    width: 13rem;
    height: 35rem;
}


.img-yt{
    border-radius: 2rem;
    width: 28rem;
    height: 15rem;
    object-fit: cover;
    object-position: center;
}



.icon{
    font-size: 6rem !important;
    color: var(--branco-d) !important;
    position: relative;
}
.label_type{
    font-size: 2.5rem;
    font-family: 'Patrick Hand', cursive;
    color: var(--branco-d);
}




@-webkit-keyframes efeitoHover {
    0%{
      -webkit-transform: scale(.8);
    }
    30%{
      -webkit-transform: scale(1);
    }
    40%{
      -webkit-transform: scale(1);
      -webkit-transform: rotate(-22deg);
    }
    50%{
      -webkit-transform: scale(1);
      -webkit-transform: rotate(22deg);
    }
    60%{
      -webkit-transform: scale(1);
      -webkit-transform: rotate(-22deg);
    }
    70%{
      -webkit-transform: scale(1);
      -webkit-transform: rotate(22deg);
    }
    80%{
      -webkit-transform: scale(1);
      -webkit-transform: rotate(-22deg);
    }
    90%{
      -webkit-transform: scale(1);
      -webkit-transform: rotate(22deg);
    }
    100%{
      -webkit-transform: scale(1);
      -webkit-transform: rotate(-22deg);
    }
  }
   
   
  
    .hover{
        font-size: 8.5rem !important;
        -webkit-transform: scale(.5);
        -webkit-animation: efeitoHover 1s linear infinite alternate;
    }